@using ICTsolutions.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity

@model IEnumerable<ICTsolutions.Models.Client>
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Clients</h1>

<p>
    <a asp-action="Create" type="button" class="btn btn-outline-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phonenumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phonenumber)
                </td>

                @if (SignInManager.IsSignedIn(User) && User.IsInRole("Manager"))
                {
                    <td class="btn-group" role="group" aria-label="Side buttons">
                        <a asp-action="Edit" asp-route-id="@item.Id" type="button" class="btn btn-warning">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id" type="button" class="btn btn-info">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" type="button" class="btn btn-danger">Delete</a>
                    </td>
                }
                else
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id" type="button" class="btn btn-info">Details</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
