@using ICTsolutions.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity
@model ICTsolutions.Models.Project

@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Details</h1>
<div class="backProject">
    <a asp-action="Index" type="button" class="btn btn-dark">Back to List</a>
</div>




<div>
    <div class="container">
        <div class="row align-items-start">
            <div class="col">
                <h4>Project</h4>
                <hr />
                <dl class="row">
                    <dt class="col-lg-2">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-lg-10">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-lg-2">
                        @Html.DisplayNameFor(model => model.ClientName)
                    </dt>
                    <dd class="col-lg-10">
                        @Html.DisplayFor(model => model.ClientName)
                    </dd>
                    <dt class="col-lg-2">
                        @Html.DisplayNameFor(model => model.ProjectManager)
                    </dt>
                    <dd class="col-lg-10">
                        @Html.DisplayFor(model => model.ProjectManager)
                    </dd>
                    <dt class="col-lg-2">
                        @Html.DisplayNameFor(model => model.amountMembers)
                    </dt>
                    <dd class="col-lg-10">
                        @Html.DisplayFor(model => model.amountMembers)
                    </dd>
                    <dt class="col-lg-2">
                        @Html.DisplayNameFor(model => model.Sources)
                    </dt>
                    <dd class="col-lg-10">
                        @Html.DisplayFor(model => model.Sources)
                    </dd>
                    <dt class="col-lg-2">
                        @Html.DisplayNameFor(model => model.ProgramingLanguage)
                    </dt>
                    <dd class="col-lg-10">
                        @Html.DisplayFor(model => model.ProgramingLanguage)
                    </dd>
                    <dt class="col-lg-2">
                        @Html.DisplayNameFor(model => model.Payment)
                    </dt>
                    <dd class="col-lg-10">
                        @Html.DisplayFor(model => model.Payment)
                    </dd>
                    <dt class="col-lg-2">
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>
                    <dd class="col-lg-10">
                        @Html.DisplayFor(model => model.Status)
                    </dd>
                    <dt class="col-lg-2">
                        @Html.DisplayNameFor(model => model.Type)
                    </dt>
                    <dd class="col-lg-10">
                        @Html.DisplayFor(model => model.Type)
                    </dd>
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Manager"))
                    {
                        <dt>
                            <a asp-action="Edit" asp-route-id="@Model?.Id" type="button" class="btn btn-warning">Edit</a>
                            <a asp-action="Delete" asp-route-id="@Model.Id" type="button" class="btn btn-danger">Delete</a>
                        </dt>
                    }
                </dl>

            </div>



            <div class="col">
                <h4>Clients</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        Name
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(modelItem => Model.projects.Name)
                    </dd>
                    <dt class="col-sm-2">
                        Email
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(modelItem => Model.projects.Email)
                    </dd>
                    <dt class="col-sm-2">
                        Company Name
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(modelItem => Model.projects.CompanyName)
                    </dd>
                    <dt class="col-sm-2">
                        Phonenumber
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(modelItem => Model.projects.Phonenumber)
                    </dd>

                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Manager"))
                    {
                        <dt>
                            <a asp-action="Edit" asp-route-id="@Model.Id" type="button" class="btn btn-warning">Edit</a>
                            <a asp-action="Delete" asp-route-id="@Model.Id" type="button" class="btn btn-danger">Delete</a>
                        </dt>
                    }

                </dl>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Members
                        </th>
                    </tr>

                </thead>

                <tbody>
                    @foreach (var item in Model.Users)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                                @Html.DisplayFor(modelItem => item.LastName)
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>

                            @*search for signinmanager specific roles*@
                            @if (SignInManager.IsSignedIn(User) && User.IsInRole("Manager"))
                            {
                                <td class="btn-group" role="group" aria-label="Side buttons">
                                    <a asp-action="Edit" asp-route-id="@item.Id" type="button" class="btn btn-warning">Edit</a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" type="button" class="btn btn-danger">Delete</a>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>




<div class="joinProjectButton">
    <a asp-action="Join" type="button" class="btn btn-lg btn-primary">Join Project</a>
</div>




